
services:
  layout-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: layout-service
    ports:
      - "8001:8001"
    volumes:
      - ../output:/app/shared_data
    environment:
      - SHARED_VOLUME_ROOT=/app/shared_data
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped

